@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Raleway", "Sans serif";
}


#blocpage {
  margin: auto;
  width: 95%;
  margin-top: 2%;
}

h2{
  font-size: 20px;
}

/*START Logo + Nav*/

.highheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2%;
}

.logo {
  cursor: pointer;
}

.hnav {
  display: flex;
  margin-right: 3%;
}
.Logohaut {
  cursor: pointer;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
  color: #0065fc;
}

header ul li a:hover {
  border-top: 5px solid #0065fc;
  padding-top: 40px;
  color: #0065fc;
}

header ul li {
  margin-left: 28px;
  margin-right: 50px;

}

a {
  text-decoration: none;
  color: black;
}

.subscribe a {
  color: #0065fc;
  margin-right: 0%;
}

.subscribe a:hover {
  border-top: 5px solid #0065fc;
  padding-top: 40px;
}

.subscribe {
  padding-left: 28px;
}
/*END Logo + Nav*/

/*START descrption*/
.description {
  margin-bottom: -35px;
}

/* searchbar */

.searchbar {
  display: inline-flex;
  margin-top: 25px;
  align-items: center;
}

button {
  background-color: #0065fc;
  border: none;
  padding: 15px 15px;
  border-radius: 0px 10px 10px 0px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  font-size: 1em;
  cursor: pointer;
  margin: 0 -50px;
}

.locate {
  font-size: 25px;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  padding: 10px 10px;
  width: 30px;
  text-align: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5em;
  width: 60%;
  height: 50px;
  font-size: 20px;
}

.search {
  border-radius: 0px 18px 18px 0;
  padding: 15px;
  background-color: #0065fc;
  color: white;
  position: relative;
  right: 43px;
}

.buttonsearch i {
  display: none;
}
