@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Raleway", "Sans serif";
}

#header {
  display: flex;
  justify-content: flex-end;
}

.headerImg{
  justify-self: flex-start;
}